@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <label>Address:</label>
    <address>
        D.No: 19-4-3c3,<br />
        STV Nagar,<br />
        Opp To BigBazaar,<br />
        AIR Bypass Road,<br />
        Tirupati-517501.<br />
        <abbr title="Mobile">Mobile:</abbr>
        +91 9966212898<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        +91 8099977715
    </address>

    <address>
        <strong>Contact:</strong>   <a href="mailto:tej.0402@gmail.com">tej.0402@gmail.com</a><br />

    </address>
</div>